header {
    display: flex;
    background-color: beige;
    justify-content: space-around;
}

header a {
    font-size: 20px;
    margin-top: 25px;
    text-decoration: none;
    color: black;
}

header a:hover {
    background-color: black;
    color: beige;
}

#game-over {
    display: none;
}

.ans:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.message {
    font-size: 20px;
    font-weight: bold;
}

.good-job {
    background-color: beige;
    text-align: center;
}

#scores {
    font-size: 20px;
    font-weight: bold;
}