header {
    display: flex;
    background-color: beige;
    justify-content: space-around;
}

header a {
    font-size: 20px;
    margin-top: 25px;
    text-decoration: none;
    color: black;
}

header a:hover {
    background-color: black;
    color: beige;
}

.ans:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
